.companyContainer {
    display: grid; 
    color: white;
    grid-template-columns: 1fr 3fr ;
    background-color: #567086;
    min-height: 600px;
}
.col1 {
    border-right: 1px solid black;
 
}
.col2 {
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .companyContainer {
    display: grid; 
    color: white;
    grid-template-columns: 1fr 2fr ;
    background-color: #567086;
    min-height: 600px;
}
}